@use '../../../node_modules/bootstrap/scss/bootstrap.scss';
/* Variables */
$primary: #ffffff;
$dark: #1c1d1d;
$dark_light: #303131;
$accent: #0282f9;
$footer_link: #797979;


body {
  font-family: 'Roboto', sans-serif;
}

.navbar{
  font-weight: bold;
}
.active{
  color: $accent;
  border-bottom: 5px solid $accent;
}

#hero_section {
  background-color: $dark;
  color: $primary;
}

#main_menu_section{
  background-color: $accent;
}